services:
  backend:
    container_name: backend-uat
    image: teim123/krisna_air:backend-uat
    expose:
      - "8000"
    env_file:
      - ../.env
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy



  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: krishna_air_db
      MYSQL_USER: ka_user
      MYSQL_PASSWORD: ka_pass
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql 
    restart: unless-stopped
    healthcheck:  
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10


  phpmyadmin:
    image: phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: ka_user
      PMA_PASSWORD: ka_pass
      MYSQL_ROOT_PASSWORD: root
    ports: 
      - "127.0.0.1:8080:80" # Only accessible from localhost

    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy    

volumes:
  mysql_data:

