services:
  backend:
    container_name: backend-dev
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - ../.env
    volumes:
      - ..:/app
    

    depends_on:
      mysql:
        condition: service_healthy
      
      redis:
        condition: service_started

    command: python manage.py runserver 0.0.0.0:8000

  
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: krishna_air_db
      MYSQL_USER: ka_user
      MYSQL_PASSWORD: ka_pass
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  phpmyadmin:
    image: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: ka_user
      PMA_PASSWORD: ka_pass
      MYSQL_ROOT_PASSWORD: root
    ports: 
      - "8080:80"
    restart: always

    depends_on:
      mysql:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    container_name: redis-dev
    ports:
      - "6379:6379"  
    restart: always

volumes:
  mysql_data: