services:
  backend:
    container_name: backend-dev
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    ports:
      - "8000:8000"

    env_file:
      - ../.env
    volumes:
      - ..:/app
    

    depends_on:
      mysql:
        condition: service_healthy

    command: python manage.py runserver 0.0.0.0:8000

  
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: krishna_air_db
      MYSQL_USER: ka_user
      MYSQL_PASSWORD: ka_pass
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10


volumes:
  mysql_data: